body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyAvzXGZB9VQCE6vvV2oYBx_v5z9EssRq21nRTwtw8Ij9CWcm-');
}

.box {
    height: 300px;
    width: 300px;
    background-color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    background-position: 50% 50%;
    
    /* left: 300px;
    top: 300px; */
}

p.obey {
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    letter-spacing: 3px;
    background: red;
    padding: 10px;
    color: white;
    text-align: center;
    display: none;
    
}

.button {
   height: 35px !important;
   width: 55px !important;
   color: white;
   background: black;
   display: block;
   float: right;
}